body {
	font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #3b3b3b;
}

h1,h2 {
	font-family: Georgia;
	font-size: 25px;
	text-shadow: 1px 1px 5px #7ec4ec;
}

h1 {
	border-bottom: 3px solid #aaa;
	background-color: #3b3b3b;
	color: #ffffff;
	padding: 10px;

}

h2 {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #DDD;
	padding-left: 5px;
	margin: 0 0 0 -15px;
	font-weight: normal;
}

.secao {
	background-color: #eee;
	padding-left: 15px;
}

label {
	font-weight: bold;
	margin-right: 10px;
}

label:after {
	content: ":";
}

a {
	text-decoration:none;
	color: #f33;
}

a:visited {
	text-decoration:none;
	color: #700;
}

a:hover {
	text-decoration:none;
	color: #fa0;
}

#menu {
	margin: 0;
}

#menu ul, #menu li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu .ativo {
	background-color: #ddd;
}

.vcard {
	padding: 5px;
}

.url, .email {
	display: block;
}

.photo {
	float: right;
	padding: 3px;
	margin-right: 20%;
	border: 2px solid #dbdbdb;
}

#footnote {
	border-top: 1px dashed #aaa;
	padding: 5px;
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	
}

#footnote li {
	list-style-type: none;
	margin-top: 3px;
}

img { 
  display: inline-block;
}